{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block body %}


<div id="customer-app">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('custommerApp') }}
{% endblock %}
