{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div id="admin-app">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adminApp') }}
{% endblock %}
