{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
<div id="company-app">
    <h1>Hello CompanyController ✅</h1>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('companyApp') }}
{% endblock %}

